@page
@model DotnetCoreExample.Pages.DemoCoreModel
@{
    ViewData["trainer"] = "Prasanna";
    ViewData["Company"] = "Wipro";
    ViewData["Location"] = "Hyderabad";
}
<p>Trainer Name is : <b> @ViewData["trainer"]</b></p>
<p>Company is : <b> @ViewData["company"]</b></p>
<p>Location is : <b> @ViewData["location"]</b></p>
