@page
@model DotnetCoreExample.Pages.EmployeeShowModel
<h3>Employee data</h3>
<table border="3">
    <tr>
        <th>Empno</th>
        <th>Name</th>
        <th>Basic</th>
    </tr>
    @foreach(var emp in Model.Employees)
    {
        <tr>
            <td>@emp.Empno</td>
            <td>@emp.Name</td>
            <td>@emp.Basic</td>
        </tr>
    }
</table>
