@page
@model DotnetCoreExample.Pages.WiproPageModel
@{
    ViewData["Title"] = "This is My First Dotnet Core Page";
}
<h1>@ViewData["Title"]</h1>

<p>From Wipro Training today we are making Milestone.</p>
